/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* To avoid overflow */
}

body {
	/*background-color: lightgray;*/
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 


}

.wrapper {
	width: 80%;
	margin: 0 auto; /* to center the wrapper */
	background-color: rgba(85, 42, 131, 0.5);
}

/*div	{
	padding: 20px;
}*/

.grandparent {
	background-color: skyblue;
	width: inherit; /* Refer to wrapper container's width */
	position: fixed;
	bottom: 0px;
	/*left: 50px;*/
}

.parent	{
	background-color: pink;
	width: 100%; /* Refer to parent container's width */
	position: relative;
}

p {
	position: static; /* Default */
	/*margin-left: 50px;*/
	/*margin-top: -20px*/
}

input[name="submit"] {
	margin-left: 20px;
}

strong	{
	background-color: yellow;
	position: absolute;
	top: 10px;
	left: 10px;
	/*right: -100px;*/
	/*bottom: -100px;*/
}

h2	{
	color: white;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 300%;
	margin-top: 20px;
}

main.wrapper > p {
	height: 1000px;
	background-color: #efefef;
	position: relative;
	top: 70px;
}

/*
*
* Page 3 CSS Rule
*
*/

/*div {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	position: absolute;
}*/

.blue {
	background-color: blue;
	top: 20px;	
	left: 20px;
	z-index: 1;
}

.yellow{
	background-color: yellow; 
	top: 40px;	
	left: 40px;
	z-index: 0;
}

.orange{
	background-color: orange; 
	top: 60px;	
	left: 60px;
	z-index: 2;
}

/*
*
* Page 4 CSS Rules
*
*/

/*main.wrapper div {
	padding: 0;
	margin-top: 0;
}*/

.menu {
	height: 100px;
	background-image: url("../img/lakerbanner.png");
	background-size: 100% 100%;
	background-color: rgb(85, 42, 131); /* blue */
	
}

.sidebar {
	height: 500px;
	background-color: rgba(168, 170, 169, 0.8); /* Red */
	width: 17%;
	/*margin: 0 auto;*/
	float: left; /* Possible value: Right, None, Left **/
	margin-right: 20px;
} 

ul {
	margin-left: 35px;
	margin-top: 20px;
}

li {
	color: white;
	font-family: 'Alegreya', serif;
}
.player {
	width: 60px;
	height: 60px;
	background-color: #d639fe;
	border-radius: 50%;
	margin: 0 auto;
}

/*
*
* Content
*
*/

.content {
	/*height: 500px;*/
	background-color: rgba(168, 170, 169, 0.8); /* yellow */
	width: 80%;
	float: left;
	padding: 20px;
	border: 3px solid #78418E;
}

.article-image {
	width: 300px;
	/*height: 200px;*/
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

div.content > p {
	margin-bottom: 10px; 
	color: white;
	font-family: 'Alegreya', serif;
}

/*
*
* Footer
*
*/

.footer {
	/*height: 200px;*/
	background-color: white; /* Light Blue */
	clear: both; /* Will offset floating effects */
	/*border: 5px solid red;*/
	border-top: 3px dashed #78418E;
}

.avatar {
	width: 60px;
	height: 60px;
	background-color: #78418E;
	float: left;
	border-radius: 50%;
	margin-right: 25px;
	background-image: url("../img/pr2.jpg");
}

.username {
	margin-bottom: 15px;
}

h3.username + p {
	overflow: hidden;
}

.page {
	/*border: 1px solid red; */
	background-color: rgba(85, 42, 131, 0.5);
	padding: 20px;
}

/*
*
* Best-way to clear floats
*
*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*
*
* Columns
*
*/

.column {
	background-color: #b2d6ff;
	position: relative;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%; 
	/*border: 1px solid red;*/ /* For testing only */
	float: left;
	padding: 15px;
	/*overflow: hidden;*/
}

/*
*
* Managing text-overflow with multiline support
*
*/

.block-with-text {
	overflow: hidden;
	position: relative;
	line-height: 1.2em; /* em = default font-size, 16px*/
	max-height: 3.6em;
	text-align: left;
	margin-right: -1em;
	padding-right: 30px; 
}

.block-with-text:before {
	content: "...";
	position: absolute;
	right: 20%;
	bottom: 1px;
}

.block-with-text:after {
	content: "";
	position: absolute;
	right: 20%;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #b2d6ff;
}

.read-more {
	position: absolute;
	right: 25px;	
	bottom: 25px;
}

